body {
  color: #456F38;
  background-color: #E6E6FA;
}

.head {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  border-style: dotted;
  border-width: 10px;
  padding: 5px;
}

.body {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
}

.btn {
  text-align: center;
  margin: 20px;
  font-size: 30px;
  background-color: #456F38;
  color: white;
  font-family: 'Raleway', sans-serif;
  width: 200px;
  height: auto;
  align-items: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 27px;
}

img {
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .head{
    font-size: 35px;
  }
  .body{
    display: flex;
  }
  .btn{
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 200px;
    height: 125px;
  }
  img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    align-content: center;
  }
}
